@use '-variable' as v;

@mixin width-height($width,$height){
    width:$width;
    height:$height
}
@mixin display-flex($display){
    display: flex;
    flex-direction: $display;
    justify-content: space-around;  
    align-items: center;
}
@mixin list-style($style-type){
    list-style-type:$style-type;
}
@mixin position($type,$top:auto,$right:auto,$bottom:auto,$left:auto){
    position:$type;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;   
}
@mixin img-style {
    object-position: center center;
    object-fit: cover;
}
@mixin carousel-style{
    @include img-style;
    @include width-height(100%,100%);
    @include position(absolute,0%,0%,0%,0%);
}

@mixin btn-carousel {
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}
