$color-pallet:(
    "success":#1bd760 ,
    "warning": #f90,
    "danger":#ff5600,
    "green":#6fb586,
    "black":#111118,
    "light-gray":#f4f4f4,
    "gray":rgb(143, 143, 143),
    "dark-gray":#1F1F2C,
    "dark-yellow": #c5bc58,
    "black-opa":rgba(0, 0, 0, 0.322),
    "light-opa":rgba(253, 253, 253, 0.418),
    "light-black":#171720
);
$botton-padding :8px 24px;
$center:0 auto;
$font-f1: Playfair Display;
$font-Stext:Source Sans Pro;
$standard-margin:20px;

@each $name , $code in $color-pallet{
    .bg-color-#{$name}{
        background-color:$code ;
    };
    .br-color-#{$name}{
        border:2px solid $code ;
    };
    .txt-color-#{$name}{
        color:$code ;
    };
};



