@use '-variable' as v;
@import '-mixinLibrary';

*,*::after,*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
};
body{
    box-sizing:border-box;
};

.navBar{
    @include display-flex(row);
    @include width-height(100%,100px);
    @include position(relative);
    z-index: 999;
};

.ul-style-nav{
    @include display-flex(row);
    @include list-style(none);  
};
.left-nav-item{
    @include position(absolute,20px,auto,auto,10px);
};
.center-nav-item{
    margin:v.$center
};
.right-nav-item{
    @include position(absolute,30px,1%)
};
.nav-li{
    margin-right: 30px;
};
.button{
    padding: v.$botton-padding;
    @include btn-animate(map-get(v.$color-pallet,"dark-yellow"),map-get(v.$color-pallet,"light-gray"),map-get(v.$color-pallet,"dark-yellow"));
    
};
.first-slide-show{
    .carousel-inner{  
     @include width-height(100%,100%);
     @include position(absolute,0%,0%,0%,0%);
     z-index: -1;
    }
    .carousel-img{
        @include  carousel-style;
    }
}
#carousel-prev{
    @include width-height(44px,50px);
    @include btn-carousel;
    @include position(absolute,45%,auto,auto,0%);
    background-image: url('../images/prev-btn.png');
}   
 #carousel-next{
    @include width-height(44px,50px);
    @include btn-carousel;
    @include position(absolute,45%,0%,auto,auto);
    background-image: url('../images/next-btn.png');
  
}
.date-box{
    @include width-height(1170px,284px);
    @include position(relative,75%,auto,auto,20%);
    .btn-holder{
        @include width-height(780px,100%);
        @include display-flex(row);
        margin:v.$center;
        text-align: center;
        padding-top: 20px
    }
    .btn-date{
        @include width-height(360px,97px);
        padding:28px 24px ;
        font-size:20px;
        margin-top: 20px;
    }
    .button2{
        padding:12px 32px ;
        @include btn-animate(map-get(v.$color-pallet,"dark-gray"),map-get(v.$color-pallet,"green"),map-get(v.$color-pallet,"light-gray"));
    }
}
.wraper2{
    @include position(relative,280px,auto,auto,0%);
    @include display-flex(column);
    text-align:center;
}
.text-box{
    padding:0px 240px;
    margin:v.$center;
    h1{
        margin-bottom: 20px ;
        @include font-style(v.$font-f1,40px,700,1.1);
    }
    
    h2{
        @include width-height(auto,150px);
        @include font-style(v.$font-f1,140px,200,1);
        opacity:8%;
        @include position(absolute,-60px,30%,auto,auto);
    }
    h3{
        margin:v.$standard-margin;
        @include font-style(v.$font-f1);
    }
    h4{
        @include font-style(v.$font-Stext,18px,200,1.5);
        margin:v.$standard-margin;
    }
    h6{
        @include font-style(v.$font-Stext,13px,300,1.5);
        
    }
    p{
        @include font-style(v.$font-Stext);
    }
    .avatar{
        border-radius: 50%;
        margin-top:30px;
        @include width-height(70px,70px);
    }
    .icone-xab{
        margin:v.$standard-margin;
    }
}
.main-gallory{
    @include display-flex(row);
    margin-top:100px;
    img{
        @include img-style;
        @include position(relative,0%,0%,0%,0%);
        @include width-height(360px,540px);
    }
    .card-footer{
        @include font-style(v.$font-f1,30px,700,1.1);
        @include position(relative,0%,0%,60px,40px);
        z-index: 3; 
    }
    #card-image-1{
        @include card(url('../images/logo_gym.webp'));
    }
    #card-image-2{
        @include card(url('../images/logo_spa.webp'));
    }
    #card-image-3{
        @include card(url('../images/logo_restaurant.webp'));
    }

}
