@use '-variable' as v;
@import '-mixinLibrary';

*,*::after,*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
};
body{
    box-sizing:border-box;
};
//----------------wraper1-----------------------
.wraper{    
    @include width-height(100%,700px);
    @include position(relative);
}
//------******navBar******--------
.navBar{
    @include display-flex(row);
    @include width-height(100%,100px);
    @include position(relative);
    z-index: 9;
};

.ul-style-nav{
    @include display-flex(row);
    @include list-style(none);  
};
.left-nav-item{
    @include position(absolute,20px,auto,auto,10px);
};
.center-nav-item{
    margin:v.$center
};
.right-nav-item{
    @include position(absolute,30px,1%)
};
.nav-li{
    margin-right: 30px;
};
.yellow-button{
    padding: v.$botton-padding;
    @include btn-animate(map-get(v.$color-pallet,"dark-yellow"),
    map-get(v.$color-pallet,"light-gray"),
    map-get(v.$color-pallet,"dark-yellow"));
};
//------******carousel******--------
.first-slide-show{
    .carousel-inner{  
     @include width-height(100%,100%);
     @include position(absolute,0%,0%,0%,0%);
     z-index: -1;
    }
    .carousel-img{
        @include  carousel-style;
    }
}
#carousel-prev{
    @include width-height(44px,50px);
    @include btn-carousel;
    @include position(absolute,45%,auto,auto,0%);
    background-image: url('../images/prev-btn.png');
}   
 #carousel-next{
    @include width-height(44px,50px);
    @include btn-carousel;
    @include position(absolute,45%,0%,auto,auto);
    background-image: url('../images/next-btn.png');
  
}
//------******date-box******--------
.date-box{
    @include width-height(1170px,284px);
    @include position(relative,75%,auto,auto,20%);
    .btn-holder{
        @include width-height(780px,100%);
        @include display-flex(row);
        margin:v.$center;
        text-align: center;
        padding-top: v.$standard-margin;
    }
    .btn-date{
        @include width-height(360px,97px);
        padding:28px 24px ;
        font-size:20px;
        margin-top: v.$standard-margin;
    }
    .green-button{
        padding:12px 32px ;
        @include btn-animate(map-get(v.$color-pallet,"dark-gray"),
        map-get(v.$color-pallet,"green"),
        map-get(v.$color-pallet,"light-gray"));
    }
}
//---------------------wraper2----------------------------
.wraper2{
    // @include position(relative,280px,auto,auto,0%);
    @include width-height(100%);
    transform: translateY(280px);
    @include display-flex(column);
    text-align:center;
}
.text-box{
    padding:0px 240px;
    margin:v.$center;
}
.h1{
    margin-bottom: 20px ;
    @include font-style(v.$font-f1,40px,700,1.1);
}

.h2{
    @include width-height(auto,150px);
    @include font-style(v.$font-f1,140px,200,1);
    opacity:8%;
    @include position(absolute,-60px,30%,auto,auto);
}
.h3{
    margin:v.$standard-margin;
    @include font-style(v.$font-f1,20px,700,1.1);
}
.h4{
    @include font-style(v.$font-Stext,18px,200,1.5);
    margin:v.$standard-margin;
}
.h6{
    @include font-style(v.$font-Stext,13px,300,1.5);
    
}
.p{
    @include font-style(v.$font-Stext);
}
.avatar{
    border-radius: 50%;
    margin-top:30px;
    @include width-height(70px,70px);
}
.icone-xab{
    margin:v.$standard-margin;
}

//------******cards******--------
.main-gallory{
    @include display-flex(row);
    margin-top:100px;
    z-index:3;
    img{
        @include img-style;
        @include position(relative,0%,0%,0%,0%);
        @include width-height(360px,540px);
    }
    .card-footer{
        @include font-style(v.$font-f1,30px,700,1.1);
        @include position(relative,0%,0%,60px,40px);
        z-index: 3; 
    }
    #card-image-1{
        @include card(url('../images/logo_gym.webp'));
    }
    #card-image-2{
        @include card(url('../images/logo_spa.webp'));
    }
    #card-image-3{
        @include card(url('../images/logo_restaurant.webp'));
    }

}

.overlay {
    @include position(absolute,auto,auto,61.2%,auto);
    background-color:map-get(v.$color-pallet,"black-opa");
    overflow: hidden;
    width: 360px;
    height: 0;
    transition: .5s ease;
  }
  
  .text {
    @include position(absolute,50%,auto,auto,50%);
    @include font-style(v.$font-Stext,18px,200,1.5);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
//---------------------wraper3----------------------------
.wraper3{
    @include width-height(100%);
    transform: translateY(-120px);
 
}
//------******off box******--------
.main-off{
    @include width-height(100%,600px);
    background-image: 
    linear-gradient(
        map-get(v.$color-pallet,"light-gray"),
        rgba(255, 255, 255, 0)), 
        url(../images/home-banner-1.jpg);
    @include background;

    .transform{
        transform: translateY(200px);
    }
    
    .dark-button{
        padding: v.$botton-padding;
        @include btn-animate(map-get(v.$color-pallet,"light-gray"),
        map-get(v.$color-pallet,"dark-gray"),
        map-get(v.$color-pallet,"light-gray"));
        margin-top:v.$standard-margin;
    }
    
}

//------******Secound carousel******--------
.Secound-slide-show{
    @include width-height(100%,600px); 
    overflow: hidden;
    padding:96px 367px;
    .slide-holder{
        @include width-height(100%,100%);
        @include display-flex(row,center,nowrap);
        color: white;
        margin:v.$center;
        text-align:start;
        overflow: hidden;

        

    }
    .item-slide-show{
         flex:1 0 100%;
        @include width-height(100%);
        
        
        
        img{
            @include img-style;
            @include width-height(50%);
            float: right;

        }
        #caption-slide-show{
            padding:48px 22px;
        }
        
    }
}

//------******footer******--------
.footer-wraper{
    @include width-height(100%,300px); 
    transform:translateY(100px);
    padding-top:48px;
    .footer-widget{
        @include display-flex(column); 
        span{
            height:22px;
            margin-top:30px;
            margin-bottom:60px;
        }  
    }
}

.footer-info-holder{
    @include display-flex(row);
    padding-top:28px;
    .footer-info{
        margin-right:50px;
         @include display-flex(row);
         @include font-style(v.$font-Stext,16px,100,1.5);
         i{
             border-radius: 50%;
             padding:18px;
             margin-right:10px;
         }
         
     }

}
.a {
    text-decoration: none ;
    &:hover{
        color:map-get(v.$color-pallet,"green")
    }
}

.footer-row{
     @include display-flex(row);
     padding:20px 20px;
    img{
        @include width-height(120px);
        text-align: center;
        margin: v.$center;
    }
    p{
        @include font-style(v.$font-Stext,14px,200,1.5);
        margin-right:5%;
     }
    ul {
        li{
        @include list-style(none); 
        display: inline;
        margin-right: 4px;
        @include font-style(v.$font-Stext,14px,100,1.1);
        }
    }
}
#last-icone{
    &:hover{
        background-color:map-get(v.$color-pallet,"green");
    }
}



.slider {
    @include width-height(300px,200px);
  }
  .carousel-wrapper {
    @include position(relative);
    @include width-height(100%);
    overflow: hidden;
    z-index: 1;
  }
  #itemse {
    @include width-height(10000px);
    @include position(relative,0,auto,auto,-300px);
  }
  #itemse.shifting {
    transition: left .2s ease-out;
  }
  .slide {
    @include width-height(300px,200px);
    cursor: pointer;
    float: left;
    @include display-flex(column);
    @include position(relative);
    transition: all 1s;
  }



