.bg-color-success {
  background-color: #1bd760;
}

.br-color-success {
  border: 2px solid #1bd760;
}

.txt-color-success {
  color: #1bd760;
}

.bg-color-warning {
  background-color: #f90;
}

.br-color-warning {
  border: 2px solid #f90;
}

.txt-color-warning {
  color: #f90;
}

.bg-color-danger {
  background-color: #ff5600;
}

.br-color-danger {
  border: 2px solid #ff5600;
}

.txt-color-danger {
  color: #ff5600;
}

.bg-color-green {
  background-color: #6fb586;
}

.br-color-green {
  border: 2px solid #6fb586;
}

.txt-color-green {
  color: #6fb586;
}

.bg-color-black {
  background-color: #15151e;
}

.br-color-black {
  border: 2px solid #15151e;
}

.txt-color-black {
  color: #15151e;
}

.bg-color-light-gray {
  background-color: #f4f4f4;
}

.br-color-light-gray {
  border: 2px solid #f4f4f4;
}

.txt-color-light-gray {
  color: #f4f4f4;
}

.bg-color-gray {
  background-color: #8f8f8f;
}

.br-color-gray {
  border: 2px solid #8f8f8f;
}

.txt-color-gray {
  color: #8f8f8f;
}

.bg-color-dark-gray {
  background-color: #1F1F2C;
}

.br-color-dark-gray {
  border: 2px solid #1F1F2C;
}

.txt-color-dark-gray {
  color: #1F1F2C;
}

.bg-color-dark-yellow {
  background-color: #c5bc58;
}

.br-color-dark-yellow {
  border: 2px solid #c5bc58;
}

.txt-color-dark-yellow {
  color: #c5bc58;
}

.bg-color-black-opa {
  background-color: rgba(0, 0, 0, 0.322);
}

.br-color-black-opa {
  border: 2px solid rgba(0, 0, 0, 0.322);
}

.txt-color-black-opa {
  color: rgba(0, 0, 0, 0.322);
}

.bg-color-light-opa {
  background-color: rgba(253, 253, 253, 0.418);
}

.br-color-light-opa {
  border: 2px solid rgba(253, 253, 253, 0.418);
}

.txt-color-light-opa {
  color: rgba(253, 253, 253, 0.418);
}

.bg-color-light-black {
  background-color: #171720;
}

.br-color-light-black {
  border: 2px solid #171720;
}

.txt-color-light-black {
  color: #171720;
}

.bg-color-gray32 {
  background-color: #323232;
}

.br-color-gray32 {
  border: 2px solid #323232;
}

.txt-color-gray32 {
  color: #323232;
}

.bg-color-success {
  background-color: #1bd760;
}

.br-color-success {
  border: 2px solid #1bd760;
}

.txt-color-success {
  color: #1bd760;
}

.bg-color-warning {
  background-color: #f90;
}

.br-color-warning {
  border: 2px solid #f90;
}

.txt-color-warning {
  color: #f90;
}

.bg-color-danger {
  background-color: #ff5600;
}

.br-color-danger {
  border: 2px solid #ff5600;
}

.txt-color-danger {
  color: #ff5600;
}

.bg-color-green {
  background-color: #6fb586;
}

.br-color-green {
  border: 2px solid #6fb586;
}

.txt-color-green {
  color: #6fb586;
}

.bg-color-black {
  background-color: #15151e;
}

.br-color-black {
  border: 2px solid #15151e;
}

.txt-color-black {
  color: #15151e;
}

.bg-color-light-gray {
  background-color: #f4f4f4;
}

.br-color-light-gray {
  border: 2px solid #f4f4f4;
}

.txt-color-light-gray {
  color: #f4f4f4;
}

.bg-color-gray {
  background-color: #8f8f8f;
}

.br-color-gray {
  border: 2px solid #8f8f8f;
}

.txt-color-gray {
  color: #8f8f8f;
}

.bg-color-dark-gray {
  background-color: #1F1F2C;
}

.br-color-dark-gray {
  border: 2px solid #1F1F2C;
}

.txt-color-dark-gray {
  color: #1F1F2C;
}

.bg-color-dark-yellow {
  background-color: #c5bc58;
}

.br-color-dark-yellow {
  border: 2px solid #c5bc58;
}

.txt-color-dark-yellow {
  color: #c5bc58;
}

.bg-color-black-opa {
  background-color: rgba(0, 0, 0, 0.322);
}

.br-color-black-opa {
  border: 2px solid rgba(0, 0, 0, 0.322);
}

.txt-color-black-opa {
  color: rgba(0, 0, 0, 0.322);
}

.bg-color-light-opa {
  background-color: rgba(253, 253, 253, 0.418);
}

.br-color-light-opa {
  border: 2px solid rgba(253, 253, 253, 0.418);
}

.txt-color-light-opa {
  color: rgba(253, 253, 253, 0.418);
}

.bg-color-light-black {
  background-color: #171720;
}

.br-color-light-black {
  border: 2px solid #171720;
}

.txt-color-light-black {
  color: #171720;
}

.bg-color-gray32 {
  background-color: #323232;
}

.br-color-gray32 {
  border: 2px solid #323232;
}

.txt-color-gray32 {
  color: #323232;
}

*, *::after, *::before {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.wraper {
  width: 100%;
  height: 700px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 9;
}

.ul-style-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.left-nav-item {
  position: absolute;
  top: 20px;
  right: auto;
  bottom: auto;
  left: 10px;
}

.center-nav-item {
  margin: 0 auto;
}

.right-nav-item {
  position: absolute;
  top: 30px;
  right: 1%;
  bottom: auto;
  left: auto;
}

.nav-li {
  margin-right: 30px;
}

.yellow-button {
  padding: 8px 24px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.yellow-button:after {
  background-color: #c5bc58;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.yellow-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #f4f4f4;
  transition: all 0.3s;
  z-index: -1;
}
.yellow-button:hover {
  color: #c5bc58;
}
.yellow-button:hover:before {
  height: 100%;
}

.first-slide-show .carousel-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: -1;
}
.first-slide-show .carousel-img {
  object-position: center center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}

#carousel-prev {
  width: 44px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  right: auto;
  bottom: auto;
  left: 0%;
  background-image: url("../images/prev-btn.png");
}
#carousel-prev:hover {
  opacity: 1;
}

#carousel-next {
  width: 44px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  right: 0%;
  bottom: auto;
  left: auto;
  background-image: url("../images/next-btn.png");
}
#carousel-next:hover {
  opacity: 1;
}

.date-box {
  width: 1170px;
  height: 284px;
  position: relative;
  top: 75%;
  right: auto;
  bottom: auto;
  left: 20%;
}
.date-box .btn-holder {
  width: 780px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.date-box .btn-date {
  width: 360px;
  height: 97px;
  padding: 28px 24px;
  font-size: 20px;
  margin-top: 20px;
}
.date-box .green-button {
  padding: 12px 32px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.date-box .green-button:after {
  background-color: #1F1F2C;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.date-box .green-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #6fb586;
  transition: all 0.3s;
  z-index: -1;
}
.date-box .green-button:hover {
  color: #f4f4f4;
}
.date-box .green-button:hover:before {
  height: 100%;
}

.wraper2 {
  width: 100%;
  height: auto;
  transform: translateY(280px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.text-box {
  padding: 0px 240px;
  margin: 0 auto;
}

.h1 {
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  overflow-x: hidden;
}

.h2 {
  width: auto;
  height: 150px;
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 140px;
  font-weight: 200;
  line-height: 1;
  overflow-x: hidden;
  opacity: 8%;
  position: absolute;
  top: -60px;
  right: 30%;
  bottom: auto;
  left: auto;
}

.h3 {
  margin: 20px 0px;
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  overflow-x: hidden;
}

.h4 {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 20px;
}

.h6 {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}

.p {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}

.avatar {
  border-radius: 50%;
  margin-top: 30px;
  width: 70px;
  height: 70px;
}

.icone-xab {
  margin: 20px;
}

.main-gallory {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  z-index: 3;
}
.main-gallory img {
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  width: 360px;
  height: 540px;
}
.main-gallory .card-footer {
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  overflow-x: hidden;
  position: relative;
  top: 0%;
  right: 0%;
  bottom: 60px;
  left: 40px;
  z-index: 3;
}
.main-gallory #card-image-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px 15px;
}
.main-gallory #card-image-1::before {
  content: "";
  background-image: url("../images/logo_spa.webp");
  width: 120px;
  height: 54px;
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 70px;
  right: auto;
  bottom: auto;
  left: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  padding-left: 40px;
}
.main-gallory #card-image-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px 15px;
}
.main-gallory #card-image-2::before {
  content: "";
  background-image: url("../images/logo_gym.webp");
  width: 120px;
  height: 54px;
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 70px;
  right: auto;
  bottom: auto;
  left: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  padding-left: 40px;
}
.main-gallory #card-image-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px 15px;
}
.main-gallory #card-image-3::before {
  content: "";
  background-image: url("../images/logo_restaurant.webp");
  width: 120px;
  height: 54px;
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 70px;
  right: auto;
  bottom: auto;
  left: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  padding-left: 40px;
}

.overlay {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 60%;
  left: auto;
  background-color: rgba(0, 0, 0, 0.322);
  overflow: hidden;
  width: 360px;
  height: 0;
  transition: 0.5s ease;
}

.text {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.wraper3 {
  width: 100%;
  height: auto;
  transform: translateY(-120px);
}

.main-off {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(#f4f4f4, rgba(255, 255, 255, 0)), url(../images/home-banner-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-off .transform {
  transform: translateY(200px);
}
.main-off .dark-button {
  padding: 8px 24px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 20px;
}
.main-off .dark-button:after {
  background-color: #f4f4f4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.main-off .dark-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #1F1F2C;
  transition: all 0.3s;
  z-index: -1;
}
.main-off .dark-button:hover {
  color: #f4f4f4;
}
.main-off .dark-button:hover:before {
  height: 100%;
}

.Secound-slide-show {
  width: 100%;
  height: 662px;
  padding: 96px 0px;
}
.Secound-slide-show .slider2-widget {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 1150px;
  height: 385px;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
}

.slide-holder {
  width: 10000px;
  height: auto;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
}

#holder.shifting {
  transition: left 0.2s ease-out;
}

.item-slide-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 1150px;
  height: 385px;
  cursor: pointer;
  float: left;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  transition: all 1s;
  text-align: start;
}
.item-slide-show img {
  width: 50%;
  height: 100%;
}
.item-slide-show .caption-slide-show {
  padding-left: 18px;
}
.item-slide-show .caption-slide-show h1 {
  margin: 0px;
}
.item-slide-show .caption-slide-show p {
  margin-bottom: 50px;
  margin-top: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  overflow-x: hidden;
}
.item-slide-show .caption-slide-show i {
  border-radius: 50%;
  padding: 18px;
  margin-right: 10px;
}

.read-more {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.read-more:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #6fb586;
  transition: width 0.3s;
}
.read-more:hover:after {
  width: 70px;
}

.slider {
  width: 750px;
  height: 248px;
  margin: 0 auto;
}
.slider .carousel-wrapper {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 1;
}

#itemse {
  width: 10000px;
  height: auto;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
}

#itemse.shifting {
  transition: left 0.2s ease-out;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 750px;
  height: 248px;
  cursor: pointer;
  float: left;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  transition: all 1s;
  text-align: start;
}
.slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.text-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.text-wraper p {
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.text-wraper .testimonial_author_role {
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.text-wraper .testimonial_author {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  overflow-x: hidden;
}

.footer-wraper {
  width: 100%;
  height: 300px;
  transform: translateY(100px);
  padding-top: 48px;
}
.footer-wraper .footer-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer-wraper .footer-widget span {
  height: 22px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.footer-info-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 28px;
}
.footer-info-holder .footer-info {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  overflow-x: hidden;
}
.footer-info-holder .footer-info i {
  border-radius: 50%;
  padding: 18px;
  margin-right: 10px;
}

.a {
  text-decoration: none;
}
.a:hover {
  color: #6fb586;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 20px;
}
.footer-row img {
  width: 120px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.footer-row p {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
  margin-right: 5%;
}
.footer-row ul li {
  list-style-type: none;
  display: inline;
  margin-right: 4px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.1;
  overflow-x: hidden;
}

#last-icone:hover {
  background-color: #6fb586;
}

/*# sourceMappingURL=main.css.map */
