.bg-color-success {
  background-color: #1bd760;
}

.br-color-success {
  border: 2px solid #1bd760;
}

.txt-color-success {
  color: #1bd760;
}

.bg-color-warning {
  background-color: #f90;
}

.br-color-warning {
  border: 2px solid #f90;
}

.txt-color-warning {
  color: #f90;
}

.bg-color-danger {
  background-color: #ff5600;
}

.br-color-danger {
  border: 2px solid #ff5600;
}

.txt-color-danger {
  color: #ff5600;
}

.bg-color-green {
  background-color: #6fb586;
}

.br-color-green {
  border: 2px solid #6fb586;
}

.txt-color-green {
  color: #6fb586;
}

.bg-color-black {
  background-color: #111118;
}

.br-color-black {
  border: 2px solid #111118;
}

.txt-color-black {
  color: #111118;
}

.bg-color-light-gray {
  background-color: #f4f4f4;
}

.br-color-light-gray {
  border: 2px solid #f4f4f4;
}

.txt-color-light-gray {
  color: #f4f4f4;
}

.bg-color-gray {
  background-color: #8f8f8f;
}

.br-color-gray {
  border: 2px solid #8f8f8f;
}

.txt-color-gray {
  color: #8f8f8f;
}

.bg-color-dark-gray {
  background-color: #1F1F2C;
}

.br-color-dark-gray {
  border: 2px solid #1F1F2C;
}

.txt-color-dark-gray {
  color: #1F1F2C;
}

.bg-color-dark-yellow {
  background-color: #c5bc58;
}

.br-color-dark-yellow {
  border: 2px solid #c5bc58;
}

.txt-color-dark-yellow {
  color: #c5bc58;
}

.bg-color-black-opa {
  background-color: rgba(0, 0, 0, 0.322);
}

.br-color-black-opa {
  border: 2px solid rgba(0, 0, 0, 0.322);
}

.txt-color-black-opa {
  color: rgba(0, 0, 0, 0.322);
}

.bg-color-success {
  background-color: #1bd760;
}

.br-color-success {
  border: 2px solid #1bd760;
}

.txt-color-success {
  color: #1bd760;
}

.bg-color-warning {
  background-color: #f90;
}

.br-color-warning {
  border: 2px solid #f90;
}

.txt-color-warning {
  color: #f90;
}

.bg-color-danger {
  background-color: #ff5600;
}

.br-color-danger {
  border: 2px solid #ff5600;
}

.txt-color-danger {
  color: #ff5600;
}

.bg-color-green {
  background-color: #6fb586;
}

.br-color-green {
  border: 2px solid #6fb586;
}

.txt-color-green {
  color: #6fb586;
}

.bg-color-black {
  background-color: #111118;
}

.br-color-black {
  border: 2px solid #111118;
}

.txt-color-black {
  color: #111118;
}

.bg-color-light-gray {
  background-color: #f4f4f4;
}

.br-color-light-gray {
  border: 2px solid #f4f4f4;
}

.txt-color-light-gray {
  color: #f4f4f4;
}

.bg-color-gray {
  background-color: #8f8f8f;
}

.br-color-gray {
  border: 2px solid #8f8f8f;
}

.txt-color-gray {
  color: #8f8f8f;
}

.bg-color-dark-gray {
  background-color: #1F1F2C;
}

.br-color-dark-gray {
  border: 2px solid #1F1F2C;
}

.txt-color-dark-gray {
  color: #1F1F2C;
}

.bg-color-dark-yellow {
  background-color: #c5bc58;
}

.br-color-dark-yellow {
  border: 2px solid #c5bc58;
}

.txt-color-dark-yellow {
  color: #c5bc58;
}

.bg-color-black-opa {
  background-color: rgba(0, 0, 0, 0.322);
}

.br-color-black-opa {
  border: 2px solid rgba(0, 0, 0, 0.322);
}

.txt-color-black-opa {
  color: rgba(0, 0, 0, 0.322);
}

*, *::after, *::before {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 100px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 999;
}

.ul-style-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
}

.left-nav-item {
  position: absolute;
  top: 20px;
  right: auto;
  bottom: auto;
  left: 10px;
}

.center-nav-item {
  margin: 0 auto;
}

.right-nav-item {
  position: absolute;
  top: 30px;
  right: 1%;
  bottom: auto;
  left: auto;
}

.nav-li {
  margin-right: 30px;
}

.button {
  padding: 8px 24px;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  background-color: #c5bc58;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #f4f4f4;
  transition: all 0.3s;
  z-index: -1;
}
.button:hover {
  color: #c5bc58;
}
.button:hover:before {
  height: 100%;
}

.first-slide-show .carousel-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: -1;
}
.first-slide-show .carousel-img {
  object-position: center center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}

#carousel-prev {
  width: 44px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  right: auto;
  bottom: auto;
  left: 0%;
  background-image: url("../images/prev-btn.png");
}
#carousel-prev:hover {
  opacity: 1;
}

#carousel-next {
  width: 44px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  right: 0%;
  bottom: auto;
  left: auto;
  background-image: url("../images/next-btn.png");
}
#carousel-next:hover {
  opacity: 1;
}

.date-box {
  width: 1170px;
  height: 284px;
  position: relative;
  top: 75%;
  right: auto;
  bottom: auto;
  left: 20%;
}
.date-box .btn-holder {
  width: 780px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.date-box .btn-date {
  width: 360px;
  height: 97px;
  padding: 28px 24px;
  font-size: 20px;
  margin-top: 20px;
}
.date-box .button2 {
  padding: 12px 32px;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.date-box .button2:after {
  background-color: #1F1F2C;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.date-box .button2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #6fb586;
  transition: all 0.3s;
  z-index: -1;
}
.date-box .button2:hover {
  color: #f4f4f4;
}
.date-box .button2:hover:before {
  height: 100%;
}

.wraper2 {
  position: relative;
  top: 280px;
  right: auto;
  bottom: auto;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  text-align: center;
}

.text-box {
  padding: 0px 240px;
  margin: 0 auto;
}
.text-box h1 {
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  overflow-x: hidden;
}
.text-box h2 {
  width: auto;
  height: 150px;
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 140px;
  font-weight: 200;
  line-height: 1;
  overflow-x: hidden;
  opacity: 8%;
  position: absolute;
  top: -60px;
  right: 30%;
  bottom: auto;
  left: auto;
}
.text-box h3 {
  margin: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.text-box h4 {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 20px;
}
.text-box h6 {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}
.text-box p {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.text-box .avatar {
  border-radius: 50%;
  margin-top: 30px;
  width: 70px;
  height: 70px;
}
.text-box .icone-xab {
  margin: 20px;
}

.main-gallory {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 100px;
}
.main-gallory img {
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  width: 360px;
  height: 540px;
}
.main-gallory .card-footer {
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  overflow-x: hidden;
  position: relative;
  top: 0%;
  right: 0%;
  bottom: 60px;
  left: 40px;
  z-index: 3;
}
.main-gallory #card-image-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  padding: 0px 15px;
}
.main-gallory #card-image-1::before {
  content: url("../images/logo_gym.webp");
  width: 33px;
  height: 16px;
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 20px;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 2;
  padding-left: 40px;
}
.main-gallory #card-image-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  padding: 0px 15px;
}
.main-gallory #card-image-2::before {
  content: url("../images/logo_spa.webp");
  width: 33px;
  height: 16px;
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 20px;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 2;
  padding-left: 40px;
}
.main-gallory #card-image-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  padding: 0px 15px;
}
.main-gallory #card-image-3::before {
  content: url("../images/logo_restaurant.webp");
  width: 33px;
  height: 16px;
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 20px;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 2;
  padding-left: 40px;
}

/*# sourceMappingURL=main.css.map */
