.bg-color-success {
  background-color: #1bd760;
}

.br-color-success {
  border: 2px solid #1bd760;
}

.txt-color-success {
  color: #1bd760;
}

.bg-color-warning {
  background-color: #f90;
}

.br-color-warning {
  border: 2px solid #f90;
}

.txt-color-warning {
  color: #f90;
}

.bg-color-danger {
  background-color: #ff5600;
}

.br-color-danger {
  border: 2px solid #ff5600;
}

.txt-color-danger {
  color: #ff5600;
}

.bg-color-green {
  background-color: #6fb586;
}

.br-color-green {
  border: 2px solid #6fb586;
}

.txt-color-green {
  color: #6fb586;
}

.bg-color-black {
  background-color: #15151e;
}

.br-color-black {
  border: 2px solid #15151e;
}

.txt-color-black {
  color: #15151e;
}

.bg-color-light-gray {
  background-color: #f4f4f4;
}

.br-color-light-gray {
  border: 2px solid #f4f4f4;
}

.txt-color-light-gray {
  color: #f4f4f4;
}

.bg-color-gray {
  background-color: #8f8f8f;
}

.br-color-gray {
  border: 2px solid #8f8f8f;
}

.txt-color-gray {
  color: #8f8f8f;
}

.bg-color-dark-gray {
  background-color: #1F1F2C;
}

.br-color-dark-gray {
  border: 2px solid #1F1F2C;
}

.txt-color-dark-gray {
  color: #1F1F2C;
}

.bg-color-dark-yellow {
  background-color: #c5bc58;
}

.br-color-dark-yellow {
  border: 2px solid #c5bc58;
}

.txt-color-dark-yellow {
  color: #c5bc58;
}

.bg-color-black-opa {
  background-color: rgba(0, 0, 0, 0.322);
}

.br-color-black-opa {
  border: 2px solid rgba(0, 0, 0, 0.322);
}

.txt-color-black-opa {
  color: rgba(0, 0, 0, 0.322);
}

.bg-color-black-dark-opa {
  background-color: rgba(0, 0, 0, 0.575);
}

.br-color-black-dark-opa {
  border: 2px solid rgba(0, 0, 0, 0.575);
}

.txt-color-black-dark-opa {
  color: rgba(0, 0, 0, 0.575);
}

.bg-color-light-opa {
  background-color: rgba(253, 253, 253, 0.418);
}

.br-color-light-opa {
  border: 2px solid rgba(253, 253, 253, 0.418);
}

.txt-color-light-opa {
  color: rgba(253, 253, 253, 0.418);
}

.bg-color-light-black {
  background-color: #171720;
}

.br-color-light-black {
  border: 2px solid #171720;
}

.txt-color-light-black {
  color: #171720;
}

.bg-color-gray32 {
  background-color: #323232;
}

.br-color-gray32 {
  border: 2px solid #323232;
}

.txt-color-gray32 {
  color: #323232;
}

.bg-color-d2-black {
  background-color: black;
}

.br-color-d2-black {
  border: 2px solid black;
}

.txt-color-d2-black {
  color: black;
}

.bg-color-no-color {
  background-color: rgba(238, 238, 238, 0);
}

.br-color-no-color {
  border: 2px solid rgba(238, 238, 238, 0);
}

.txt-color-no-color {
  color: rgba(238, 238, 238, 0);
}

.bg-color-success {
  background-color: #1bd760;
}

.br-color-success {
  border: 2px solid #1bd760;
}

.txt-color-success {
  color: #1bd760;
}

.bg-color-warning {
  background-color: #f90;
}

.br-color-warning {
  border: 2px solid #f90;
}

.txt-color-warning {
  color: #f90;
}

.bg-color-danger {
  background-color: #ff5600;
}

.br-color-danger {
  border: 2px solid #ff5600;
}

.txt-color-danger {
  color: #ff5600;
}

.bg-color-green {
  background-color: #6fb586;
}

.br-color-green {
  border: 2px solid #6fb586;
}

.txt-color-green {
  color: #6fb586;
}

.bg-color-black {
  background-color: #15151e;
}

.br-color-black {
  border: 2px solid #15151e;
}

.txt-color-black {
  color: #15151e;
}

.bg-color-light-gray {
  background-color: #f4f4f4;
}

.br-color-light-gray {
  border: 2px solid #f4f4f4;
}

.txt-color-light-gray {
  color: #f4f4f4;
}

.bg-color-gray {
  background-color: #8f8f8f;
}

.br-color-gray {
  border: 2px solid #8f8f8f;
}

.txt-color-gray {
  color: #8f8f8f;
}

.bg-color-dark-gray {
  background-color: #1F1F2C;
}

.br-color-dark-gray {
  border: 2px solid #1F1F2C;
}

.txt-color-dark-gray {
  color: #1F1F2C;
}

.bg-color-dark-yellow {
  background-color: #c5bc58;
}

.br-color-dark-yellow {
  border: 2px solid #c5bc58;
}

.txt-color-dark-yellow {
  color: #c5bc58;
}

.bg-color-black-opa {
  background-color: rgba(0, 0, 0, 0.322);
}

.br-color-black-opa {
  border: 2px solid rgba(0, 0, 0, 0.322);
}

.txt-color-black-opa {
  color: rgba(0, 0, 0, 0.322);
}

.bg-color-black-dark-opa {
  background-color: rgba(0, 0, 0, 0.575);
}

.br-color-black-dark-opa {
  border: 2px solid rgba(0, 0, 0, 0.575);
}

.txt-color-black-dark-opa {
  color: rgba(0, 0, 0, 0.575);
}

.bg-color-light-opa {
  background-color: rgba(253, 253, 253, 0.418);
}

.br-color-light-opa {
  border: 2px solid rgba(253, 253, 253, 0.418);
}

.txt-color-light-opa {
  color: rgba(253, 253, 253, 0.418);
}

.bg-color-light-black {
  background-color: #171720;
}

.br-color-light-black {
  border: 2px solid #171720;
}

.txt-color-light-black {
  color: #171720;
}

.bg-color-gray32 {
  background-color: #323232;
}

.br-color-gray32 {
  border: 2px solid #323232;
}

.txt-color-gray32 {
  color: #323232;
}

.bg-color-d2-black {
  background-color: black;
}

.br-color-d2-black {
  border: 2px solid black;
}

.txt-color-d2-black {
  color: black;
}

.bg-color-no-color {
  background-color: rgba(238, 238, 238, 0);
}

.br-color-no-color {
  border: 2px solid rgba(238, 238, 238, 0);
}

.txt-color-no-color {
  color: rgba(238, 238, 238, 0);
}

*, *::after, *::before {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.h1 {
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  overflow-x: hidden;
}

.h2 {
  width: auto;
  height: 150px;
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 140px;
  font-weight: 200;
  line-height: 1;
  overflow-x: hidden;
  opacity: 8%;
  transform: translateY(100px);
}

.h3 {
  margin: 20px 0px;
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  overflow-x: hidden;
}

.h4 {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 20px;
}

.h6 {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}

.p {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}

.avatar {
  border-radius: 50%;
  margin-top: 30px;
  width: 70px;
  height: 70px;
}

.icone-xab {
  margin: 20px;
}

.a-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.a-holder .border-bt-anime {
  text-decoration: none;
}
.a-holder .border-bt-anime:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #6fb586;
  transition: width 0.3s;
}
.a-holder .border-bt-anime:hover:after {
  width: 100%;
  transition: width 0.3s;
}

.fa-circle {
  font-size: 11px;
  margin-right: 10px;
  opacity: 0.5;
}
.fa-circle:hover {
  opacity: 1;
}

.a {
  text-decoration: none;
}
.a:hover {
  color: #6fb586;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 9;
}

.nav-linear-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
}
.nav-linear-item .left-nav-item {
  position: absolute;
  top: 20px;
  right: auto;
  bottom: auto;
  left: 10px;
}
.nav-linear-item .center-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.nav-linear-item .center-nav-item .ul-style-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.nav-linear-item .center-nav-item .ul-style-nav .nav-li {
  margin-right: 20px;
}
.nav-linear-item .center-nav-item #home {
  border-bottom: 2px solid #6fb586;
  text-decoration: none;
}
.nav-linear-item .right-nav-item {
  position: absolute;
  top: 30px;
  right: 1%;
  bottom: auto;
  left: auto;
}

.btn-style-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.btn-style-nav .nav-li {
  margin-right: 30px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.btn-style-nav .nav-li .yellow-button {
  padding: 8px 24px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-style-nav .nav-li .yellow-button:after {
  background-color: #c5bc58;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.btn-style-nav .nav-li .yellow-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #f4f4f4;
  transition: all 0.3s;
  z-index: -1;
}
.btn-style-nav .nav-li .yellow-button:hover {
  color: #c5bc58;
}
.btn-style-nav .nav-li .yellow-button:hover:before {
  height: 100%;
}

.drop-down {
  background-color: #000;
  position: relative;
  top: 45px;
  right: auto;
  bottom: auto;
  left: -65%;
  width: 150px;
  height: auto;
  padding: 10px 10px;
  z-index: 9999;
  opacity: 0;
}
.drop-down li {
  list-style: none;
  margin-left: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 99;
  width: 0px;
  height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 375px) {
  .menu {
    width: 290px;
    height: 1000px;
  }
}
.menu .menu-widget {
  transform: translate(120px, 0px);
}
.menu .menu-widget #menu-inner {
  margin: 0 30px;
  padding-bottom: 30px;
}
.menu .menu-widget .info-menu {
  margin: 0 30px;
  border-top: 0.5px solid #f4f4f4;
}
.menu .menu-widget .info-menu p {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 50;
  line-height: 1.7;
  overflow-x: hidden;
  padding: 30px 0;
}
.menu .menu-widget .info-menu .icon-holder-menu {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 10px 0;
}
.menu .menu-widget .info-menu .icon-holder-menu i {
  border-radius: 50%;
  padding: 0px;
  margin-right: 10px;
}
.menu .close-nav-li {
  padding-left: 30px;
  position: absolute;
  top: 45px;
  right: auto;
  bottom: auto;
  left: 0;
}
.menu .menu-item .sub-menu {
  border-left: 1px solid #f4f4f4;
  padding-left: 10px;
}
.menu .menu-item .sub-menu .sub-inner {
  padding: 5px 0;
}
.menu .menu-item .sub-menu .sub-inner a {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
  color: #f4f4f4;
}

.title-item {
  padding: 10px 0;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  overflow-x: hidden;
  color: #f4f4f4;
}

.first-slide-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1900px;
  height: 720px;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  overflow: hidden;
}
@media only screen and (max-width: 1324px) {
  .first-slide-show {
    width: 1324px;
    height: 720px;
  }
}
@media only screen and (max-width: 986px) {
  .first-slide-show {
    width: 986px;
    height: 720px;
  }
}
@media only screen and (max-width: 764px) {
  .first-slide-show {
    width: 764px;
    height: 720px;
  }
}
@media only screen and (max-width: 375px) {
  .first-slide-show {
    width: 375px;
    height: 700px;
  }
}
.first-slide-show .carousel-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0px;
  transition: transform 1s;
}

.caro-item {
  transition: all 1s;
  text-align: start;
}
.caro-item .carousel-img {
  width: 1900px;
  object-position: center center;
  object-fit: cover;
  height: 720px;
}
@media only screen and (max-width: 986px) {
  .caro-item .carousel-img {
    width: 986px;
    height: 720px;
  }
}
@media only screen and (max-width: 764px) {
  .caro-item .carousel-img {
    width: 764px;
    height: 720px;
  }
}
@media only screen and (max-width: 375px) {
  .caro-item .carousel-img {
    width: 375px;
    height: 700px;
    object-position: left center;
  }
}

#carousel-prev {
  width: 44px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  right: auto;
  bottom: auto;
  left: 0%;
  background-image: url("../images/prev-btn.png");
}
#carousel-prev:hover {
  opacity: 1;
}

#carousel-next {
  width: 44px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  right: 0%;
  bottom: auto;
  left: auto;
  background-image: url("../images/next-btn.png");
}
#carousel-next:hover {
  opacity: 1;
}

.txt-car {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  top: 0%;
  right: 0%;
  bottom: auto;
  left: auto;
  animation: translate_up 2s linear;
  transform: translate(100px);
  display: block;
  z-index: 999;
}
.txt-car .title-car {
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}
.txt-car .t-car {
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}
.txt-car .btn-car {
  padding: 8px 24px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.txt-car .btn-car:after {
  background-color: transparent;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.txt-car .btn-car:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #f4f4f4;
  transition: all 0.3s;
  z-index: -1;
}
.txt-car .btn-car:hover {
  color: rgba(238, 238, 238, 0);
}
.txt-car .btn-car:hover:before {
  height: 100%;
}

.date-box-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 550px;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  margin: 0 auto;
}
@media only screen and (max-width: 375px) {
  .date-box-wraper {
    width: 375px;
    height: 600px;
    margin: 0px;
  }
}

.date-box {
  width: 1300px;
  height: 284px;
  z-index: 99;
}
@media only screen and (max-width: 986px) {
  .date-box {
    width: 870px;
    height: 850px;
    flex-wrap: wrap;
    overflow: wrap;
  }
}
@media only screen and (max-width: 764px) {
  .date-box {
    flex-wrap: wrap;
    overflow: wrap;
  }
}
@media only screen and (max-width: 375px) {
  .date-box {
    width: 375px;
    height: 600px;
  }
}
.date-box .btn-holder {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
@media only screen and (max-width: 1324px) {
  .date-box .btn-holder {
    width: 750px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 986px) {
  .date-box .btn-holder {
    width: 730px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 764px) {
  .date-box .btn-holder {
    width: 750px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 375px) {
  .date-box .btn-holder {
    width: 300px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 0;
  }
}
.date-box .btn-holder .label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.date-box .btn-date {
  width: 360px;
  height: 97px;
  padding: 28px 24px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 22px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
@media only screen and (max-width: 1324px) {
  .date-box .btn-date {
    width: 200px;
    height: 97px;
    padding: 10px 20px;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 986px) {
  .date-box .btn-date {
    width: 200px;
    height: 97px;
    padding: 10px 20px;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 764px) {
  .date-box .btn-date {
    width: 730px;
    height: 159px;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 375px) {
  .date-box .btn-date {
    width: 300px;
    height: 97px;
    text-align: center;
  }
}
.date-box .btn-room {
  width: 360px;
  height: 97px;
  padding: 28px 24px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 22px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.date-box .green-button {
  padding: 12px 32px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.date-box .green-button:after {
  background-color: #1F1F2C;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.date-box .green-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #6fb586;
  transition: all 0.3s;
  z-index: -1;
}
.date-box .green-button:hover {
  color: #f4f4f4;
}
.date-box .green-button:hover:before {
  height: 100%;
}

.wraper2 {
  width: 100%;
  height: auto;
  transform: translateY(680px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.text-box {
  width: auto;
  height: 400px;
}
.text-box .providing-holder {
  transform: translateY(-200px);
}
@media only screen and (max-width: 375px) {
  .text-box .providing-holder {
    transform: translate(0px, 100px);
    width: 300px;
    height: auto;
  }
}
@media only screen and (max-width: 764px) {
  .text-box .providing-holder .h2 {
    display: none !important;
  }
}

.main-gallory {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  z-index: 3;
}
@media only screen and (max-width: 764px) {
  .main-gallory {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transform: translate(0px, 400px);
  }
}
@media only screen and (max-width: 764px) {
  .main-gallory #ove-1 {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 76.8%;
    left: auto;
    width: 300px;
    height: 0px;
  }
}
@media only screen and (max-width: 764px) {
  .main-gallory #ove-2 {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 64.4%;
    left: auto;
    width: 300px;
    height: 0px;
  }
}
@media only screen and (max-width: 764px) {
  .main-gallory #ove-3 {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 52%;
    left: auto;
    width: 300px;
    height: 0px;
    z-index: 88;
  }
}
@media only screen and (max-width: 764px) {
  .main-gallory .card:hover #ove-1 {
    height: 1101px;
  }
}
@media only screen and (max-width: 375px) {
  .main-gallory .card:hover #ove-1 {
    height: 450px;
  }
}
@media only screen and (max-width: 764px) {
  .main-gallory .card:hover #ove-2 {
    height: 1101px;
  }
}
@media only screen and (max-width: 375px) {
  .main-gallory .card:hover #ove-2 {
    height: 450px;
  }
}
@media only screen and (max-width: 764px) {
  .main-gallory .card:hover #ove-3 {
    height: 1101px;
  }
}
@media only screen and (max-width: 375px) {
  .main-gallory .card:hover #ove-3 {
    height: 450px;
  }
}
.main-gallory img {
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  width: 360px;
  height: 540px;
}
@media only screen and (max-width: 1324px) {
  .main-gallory img {
    width: 293px;
    height: 439px;
  }
}
@media only screen and (max-width: 986px) {
  .main-gallory img {
    width: 220px;
    height: 330px;
  }
}
@media only screen and (max-width: 764px) {
  .main-gallory img {
    width: 734px;
    height: 1101px;
  }
}
@media only screen and (max-width: 375px) {
  .main-gallory img {
    width: 300px;
    height: auto;
  }
}
.main-gallory .card-footer {
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  overflow-x: hidden;
  position: relative;
  top: 0%;
  right: 0%;
  bottom: 60px;
  left: 40px;
  z-index: 3;
}
.main-gallory #card-image-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px 15px;
}
.main-gallory #card-image-1::before {
  content: "";
  background-image: url("../images/logo_spa.webp");
  width: 120px;
  height: 54px;
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 70px;
  right: auto;
  bottom: auto;
  left: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  padding-left: 40px;
}
.main-gallory #card-image-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px 15px;
}
.main-gallory #card-image-2::before {
  content: "";
  background-image: url("../images/logo_gym.webp");
  width: 120px;
  height: 54px;
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 70px;
  right: auto;
  bottom: auto;
  left: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  padding-left: 40px;
}
.main-gallory #card-image-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px 15px;
}
.main-gallory #card-image-3::before {
  content: "";
  background-image: url("../images/logo_restaurant.webp");
  width: 120px;
  height: 54px;
  object-position: center center;
  object-fit: cover;
  position: relative;
  top: 70px;
  right: auto;
  bottom: auto;
  left: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  padding-left: 40px;
}

.overlay {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 66%;
  left: auto;
  background-color: rgba(0, 0, 0, 0.322);
  overflow: hidden;
  width: 360px;
  height: 0;
  transition: 0.5s ease;
  z-index: 44;
}
@media only screen and (max-width: 1324px) {
  .overlay {
    width: 293px;
    height: 0px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 68%;
    left: auto;
  }
}
@media only screen and (max-width: 986px) {
  .overlay {
    width: 220px;
    height: 0px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 70.5%;
    left: auto;
  }
}

.card:hover .overlay {
  height: 540px;
}
@media only screen and (max-width: 1324px) {
  .card:hover .overlay {
    height: 439px;
  }
}
@media only screen and (max-width: 986px) {
  .card:hover .overlay {
    height: 330px;
  }
}

.text {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 10%;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.7;
  overflow-x: hidden;
  text-align: start;
}
@media only screen and (max-width: 1324px) {
  .text {
    position: absolute;
    top: 45%;
    right: auto;
    bottom: auto;
    left: 10%;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.7;
    overflow-x: hidden;
    text-align: start;
  }
}
@media only screen and (max-width: 986px) {
  .text {
    position: absolute;
    top: 30%;
    right: auto;
    bottom: auto;
    left: 10%;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 13px;
    font-weight: 100;
    line-height: 1.5;
    overflow-x: hidden;
    text-align: start;
  }
}
@media only screen and (max-width: 764px) {
  .text {
    position: absolute;
    top: 55%;
    right: auto;
    bottom: auto;
    left: 7%;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 35px;
    font-weight: 100;
    line-height: 1.7;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 764px) {
  .text {
    position: absolute;
    top: 55%;
    right: auto;
    bottom: auto;
    left: 7%;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.7;
    overflow-x: hidden;
  }
}

.wraper3 {
  width: 100%;
  height: auto;
  transform: translateY(-120px);
}

.main-off {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(#f4f4f4, rgba(255, 255, 255, 0)), url(../images/home-banner-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 764px) {
  .main-off {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transform: translate(0px, 400px);
  }
}
.main-off .transform {
  transform: translateY(200px);
}
.main-off .dark-button {
  padding: 8px 24px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 20px;
}
.main-off .dark-button:after {
  background-color: #f4f4f4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.main-off .dark-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #1F1F2C;
  transition: all 0.3s;
  z-index: -1;
}
.main-off .dark-button:hover {
  color: #f4f4f4;
}
.main-off .dark-button:hover:before {
  height: 100%;
}
@media only screen and (max-width: 764px) {
  .main-off .dark-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.Secound-slide-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 662px;
  padding: 96px 0px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1324px) {
  .Secound-slide-show {
    width: 100%;
    height: 662px;
    padding: 0 150px;
  }
}
@media only screen and (max-width: 986px) {
  .Secound-slide-show {
    padding: 0 110px;
  }
}
@media only screen and (max-width: 764px) {
  .Secound-slide-show {
    padding: 50px 0;
    width: 100%;
    height: 790px;
  }
}
@media only screen and (max-width: 375px) {
  .Secound-slide-show {
    margin-top: 50px;
    padding: 10px 0;
    width: 100%;
    height: 950px;
    transform: translate(0px, 600px);
  }
}
.Secound-slide-show .slider2-widget {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 1150px;
  height: 385px;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 1324px) {
  .Secound-slide-show .slider2-widget {
    width: 1000px;
    height: 409px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 986px) {
  .Secound-slide-show .slider2-widget {
    width: 760px;
    height: 455px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 764px) {
  .Secound-slide-show .slider2-widget {
    width: 760px;
    height: 790px;
  }
}
@media only screen and (max-width: 375px) {
  .Secound-slide-show .slider2-widget {
    width: 360px;
    height: 990px;
  }
}

.slide-holder {
  width: 10000px;
  height: auto;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
}
@media only screen and (max-width: 1324px) {
  .slide-holder {
    margin: 0 auto;
    overflow: hidden;
  }
}

#holder.shifting {
  transition: left 0.2s ease-out;
}

.item-slide-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 1150px;
  height: 385px;
  cursor: pointer;
  float: left;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  transition: all 1s;
  text-align: start;
}
@media only screen and (max-width: 1324px) {
  .item-slide-show {
    width: 1000px;
    height: 409px;
  }
}
@media only screen and (max-width: 986px) {
  .item-slide-show {
    width: 760px;
    height: 455px;
  }
}
@media only screen and (max-width: 764px) {
  .item-slide-show {
    padding: 20px;
    width: 760px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 375px) {
  .item-slide-show {
    padding: 10px;
    width: 360px;
    height: 840px;
  }
}
.item-slide-show img {
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 1324px) {
  .item-slide-show img {
    object-position: center center;
    object-fit: cover;
  }
}
@media only screen and (max-width: 986px) {
  .item-slide-show img {
    object-position: center center;
    object-fit: cover;
  }
}
@media only screen and (max-width: 764px) {
  .item-slide-show img {
    width: 100%;
    height: 50%;
    order: 1;
  }
}
.item-slide-show .caption-slide-show {
  padding-left: 18px;
}
@media only screen and (max-width: 764px) {
  .item-slide-show .caption-slide-show {
    width: 100%;
    height: 50%;
    padding: 20px;
    order: 2;
  }
}
.item-slide-show .caption-slide-show h1 {
  margin: 0px;
}
.item-slide-show .caption-slide-show p {
  margin-bottom: 50px;
  margin-top: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  overflow-x: hidden;
}
.item-slide-show .caption-slide-show i {
  margin-top: 10px;
  border-radius: 50%;
  padding: 18px;
  margin-right: 10px;
}
.item-slide-show .caption-slide-show a {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}

@media only screen and (max-width: 375px) {
  .slider-title-box {
    transform: translateY(600px);
  }
}

.slider {
  width: 750px;
  height: 248px;
  margin: 0 auto;
}
@media only screen and (max-width: 375px) {
  .slider {
    margin-top: 50px;
    padding: 10px 0;
    width: 100%;
    height: 950px;
    transform: translateY(450px);
  }
}
.slider .carousel-wrapper {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 375px) {
  .slider .carousel-wrapper {
    margin-top: 50px;
    padding: 10px 0;
    width: 100%;
    height: 950px;
  }
}

#itemse {
  width: 10000px;
  height: auto;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
}

#itemse.shifting {
  transition: left 0.2s ease-out;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 750px;
  height: 248px;
  cursor: pointer;
  float: left;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  transition: all 1s;
  text-align: start;
}
@media only screen and (max-width: 375px) {
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 375px;
    height: auto;
    padding: 20px;
  }
}
.slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.text-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.text-wraper p {
  -webkit-font-smoothing: antialiased;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.text-wraper .testimonial_author_role {
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.text-wraper .testimonial_author {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  overflow-x: hidden;
}

.footer-wraper {
  width: 100%;
  height: 300px;
  transform: translateY(150px);
  padding-top: 48px;
}
.footer-wraper .footer-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 764px) {
  .footer-wraper .footer-widget {
    padding-left: 16px;
  }
}
.footer-wraper span {
  height: 22px;
  margin-top: 30px;
}

.footer-info-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 28px;
}
@media only screen and (max-width: 764px) {
  .footer-info-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 28px;
  }
}
@media only screen and (max-width: 375px) {
  .footer-info-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
.footer-info-holder span {
  margin: 0 auto;
}
.footer-info-holder .footer-info {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  overflow-x: hidden;
}
@media only screen and (max-width: 764px) {
  .footer-info-holder .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    -webkit-font-smoothing: antialiased;
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.5;
    overflow-x: hidden;
  }
}
.footer-info-holder .footer-info i {
  border-radius: 50%;
  padding: 18px;
  margin-right: 10px;
}
@media only screen and (max-width: 764px) {
  .footer-info-holder .footer-info i {
    border-radius: 50%;
    padding: 10px;
  }
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 20px 20px;
}
@media only screen and (max-width: 764px) {
  .footer-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 375px) {
  .footer-row {
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    transform: translateY(-20px);
  }
}
.footer-row img {
  width: 120px;
  height: auto;
}
@media only screen and (max-width: 764px) {
  .footer-row img {
    width: 120px;
    height: auto;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 764px) and (max-width: 375px) {
  .footer-row img {
    transform: translateX(-100px);
  }
}
.footer-row p {
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}
.footer-row ul li {
  list-style-type: none;
  display: inline;
  margin-right: 4px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.1;
  overflow-x: hidden;
  overflow: wrap;
}

#last-icone:hover {
  background-color: #6fb586;
}

.go-up {
  padding: 10px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  position: fixed;
  top: auto;
  right: 20px;
  bottom: 75px;
  left: auto;
  color: #f4f4f4;
  background-color: rgba(0, 0, 0, 0.322);
  z-index: 99999;
}
@media only screen and (max-width: 764px) {
  .go-up {
    position: fixed;
    top: auto;
    right: 60px;
    bottom: 20px;
    left: auto;
    margin: 0 auto;
  }
}

.goto-holder {
  width: 60px;
  height: 60px;
}
.goto-holder i:hover {
  background-color: rgba(0, 0, 0, 0.575);
}

.modal {
  background-color: #15151e;
  width: 320;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 15%;
  right: auto;
  bottom: auto;
  left: 40.2%;
  opacity: 0;
  padding: 10px;
  margin: 0 auto;
}
@media only screen and (max-width: 1324px) {
  .modal {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 40%;
  }
}
@media only screen and (max-width: 986px) {
  .modal {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 40%;
  }
}
@media only screen and (max-width: 764px) {
  .modal {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 30%;
  }
}
@media only screen and (max-width: 375px) {
  .modal {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 10%;
  }
}
.modal table, .modal th, .modal td {
  border: 1px solid #15151e;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
  overflow-x: hidden;
  color: #15151e;
}
.modal th {
  background-color: #c5bc58;
}

.td {
  padding: 0 auto;
}

/*# sourceMappingURL=main.css.map */
